<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpwqz20GmCQYrHPW6_OwVr9J5oX7FetnA</string>
	<key>GCM_SENDER_ID</key>
	<string>929484322596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bucketListWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>bucketlistwithfirebase-24b69</string>
	<key>STORAGE_BUCKET</key>
	<string>bucketlistwithfirebase-24b69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929484322596:ios:cc3aa0f1b77b6a3dc8a5b1</string>
</dict>
</plist>